:root {
    --cor-principal: #93DB70;
    --cor-botoes: #FFFAF0;
}

body {
    background-color: var(--cor-principal);
}

head {
    color: #ffffff;
    background-color: #ffffff;
}

h1 {
    color: #ffffff;

}

h2 {
    color: #ffffff;
}

img {
    border-radius: 10px;


}

a {
    color: #FFFAF0;
    background-color:#93DB70;
    border-color:#93DB70;
    padding : 10px 20px;
    border : none;
    border-radius: 5px;
    font-size : 16px;
    cursor : pointer;
    box-shadow : 2px 2px 5px rgb(255, 255, 255);


}